//colores
$primary-color: #46020b;
$secondary-color: #007bff;
$background-color: #f8f9fa;
$text-color: #333;
$white-color: #ffffff;

//tamaños
$padding-small: 5px;
$padding-medium: 10px;
$padding-large: 20px;
$padding-base: 10px;

// tipografia
$font-size-base: 16px;
$font-size-large: 18px;
$font-size-small: 14px;

// Otros
$border-radius: 8px;
$box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);