main {
    padding: 100px;

    #inicio {
        padding: 20px 0;

        h1 {
            text-align: center;
            margin-bottom: 20px;
        }

        .inicio-content {
            @include flex-container(flex-start, space-between);
            gap: 20px;

            img {
                max-width: 50%;
                height: auto;
            }

            article {
                flex: 1;
                font-size: 16px;
                line-height: 1.5;
            }
        }
    }
}

@media (max-width: 768px) {
    .inicio-content {
        flex-direction: column;
        align-items: center;
    }
    .inicio-content img {
        max-width: 100%;
    }
}