footer {
    background-color: #000;
    color: #fff;
    padding: 20px 0;
}

footer a {
    color: #fff;
    text-decoration: none;
    margin-right: 15px;
}

footer a:hover {
    color: #007bff;
}

@media (max-width: 480px) {
    body {
        font-size: 14px;
    }
    header {
        padding: 5px 10px;
    }
    .nav-links a {
        font-size: 14px;
    }
    main {
        padding: 80px 10px;
    }
    .card {
        padding: 10px;
        width: calc(100% - 20px);
    }
}